body {
    margin: 0;
    overflow: hidden;
}

#nav, #main {
    border: 3px solid orangered;
    height: 100vh;
    color: rgb(75, 55, 48);    
}

#icon {
    height: 130px;
    border: 2px solid green;
}

.navig {
    height: 70px;
    border: 2px solid green;
}